.head-container {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 70px;
    background-color: var(--White);
}
.head-container__left {
    display: flex;
    width: 70%;
    max-width: 900px;
    height: 100%;
    justify-content: flex-start;
    /* background-color: blueviolet; */
}
.head-container__right {
    display: flex;
    width: 30%;
    max-width: 900px;
    height: 100%;
    justify-content: flex-end;
    /* background-color: antiquewhite; */
}
/* ==== Seccion Izquierda ==== */
.icon-menu {
    align-self: center;
}
.icon-menu img {
    width: 18px;
    height: 18px;
    margin-left: 20px;
}
.logo {
    align-self: center;
    margin-left: 15px;
}
.logo img {
    width: 95%;
}
/* ==== Seccion Derecha ==== */
.icon-cart {
    align-self: center;
}
.icon-avatar {
    align-self: center;
}
.icon-cart img {
    margin-right: 15px;
}
.icon-avatar img {
    width: 28px;
    height: 28px;
    margin-right: 20px;
}
