.head-container {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 70px;
    z-index: 1;
    background-color: var(--White);
}
.head-container__left {
    display: flex;
    width: 70%;
    max-width: 900px;
    height: 100%;
    justify-content: flex-start;
    /* background-color: blueviolet; */
}
.head-container__right {
    display: flex;
    width: 30%;
    max-width: 900px;
    height: 100%;
    justify-content: flex-end;
    /* background-color: antiquewhite; */
}
/* ==== Seccion Izquierda ==== */
.icon-menu {
    align-self: center;
}
.icon-menu img {
    width: 18px;
    height: 18px;
    margin-left: 20px;
}
.logo {
    align-self: center;
    margin-left: 15px;
}
.logo img {
    width: 95%;
}
/* ==== Seccion Derecha ==== */
.icon-cart {
    align-self: center;
}
.notification {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 13px;
    top: 8px;
    left: 8px;
    z-index: 0;
    border-radius: 40%;
    opacity: 0;
    background-color: var(--Orange);
}
.notification p {
    font-weight: bold;
    text-align: center;
    color: var(--White);
}
.notification-enable {
    opacity: 100;
    z-index: -2;
}
.icon-avatar {
    position: relative;
    align-self: center;
    z-index: -2;
}
.icon-cart img {
    position: relative;
    margin-right: 15px;
    margin-bottom: 10px;
    z-index: -3;
}
.newColor {
    filter: brightness(0) saturate(100%) 
    invert(0%) sepia(5%) saturate(7500%) 
    hue-rotate(228deg) brightness(106%) 
    contrast(106%);
}
.icon-avatar img {
    width: 28px;
    height: 28px;
    margin-right: 20px;
}
